# Envs
venv
container/built

# Python
__pycache__
*.egg-info
.cache

# Editor
*~
*.swp

# Inputs
analysis/input_data/pfalciparum/pf3k/vcfs
analysis/input_data/pfalciparum/pf3k/bams
analysis/input_data/pfalciparum/pacb_ilmn/ilmn_reads
analysis/input_data/pfalciparum/pacb_ilmn/pacb_assemblies
analysis/input_data/mtuberculosis/clockwork/vcfs
analysis/input_data/mtuberculosis/pacb_ilmn/ilmn_reads
analysis/input_data/mtuberculosis/pacb_ilmn/pacb_assemblies

# Results
analysis/outputs
analysis/logs
.snakemake

# scratch
tmp_work
