# Envs
venv
container/built

# Python
__pycache__
*.egg-info

# Editor
*~
*.swp

# Inputs
analysis/input_data/make_prgs/pf3k_cortex_vcfs
analysis/input_data/pfalciparum/pf3k/bams
analysis/input_data/pfalciparum/pacb_ilmn/ilmn_reads
analysis/input_data/pfalciparum/pacb_ilmn/pacb_assemblies

# Results
analysis/outputs
analysis/logs
.snakemake

# scratch
tmp_work
